
<div class="index">
  <div class="show">
      <div class="right">
        <%= render partial: 'right_sidebar' %>
     </div>
      <div class="tabs">
        <div class="btn">
          <%= button_to "CREATE NEW POST", new_post_path, method: :get  %>
        </div>
        <div class="tab" id="popular">
         <%= link_to "POPULAR", popular_posts_path, remote: true, id: "popular-link" %>
        </div>
        <div class="tab active" id="recent">
         <%= link_to "RECENT", recent_posts_path, remote: true, id:"recent-link" %>
        </div>
      </div>
      
      <div class="posts" id="posts">
        <%= render partial: 'posts', collection: @recent, as: :post %>
      </div>
    
    
  </div>
</div>
